@import "./variables";
@import "./mediaQuery";

/* Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

li {list-style-type: none;}

a {text-decoration: none;}

h1 {font-size: 64px; letter-spacing: 1px; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 1.2}
h2 {font-size: 56px; letter-spacing: 1px; font-weight: 400;font-family: 'Roboto', sans-serif;}
h3 {font-size: 48px; font-weight: 400; margin: 0; padding: 0; letter-spacing: 1px;font-family: 'Roboto', sans-serif;  line-height: 1.2}
h4 {font-size: 40px;letter-spacing: 1px; font-weight: 400;font-family: 'Roboto', sans-serif;  line-height: 1.2}
h5 {font-size: 32px;letter-spacing: 1px; font-weight: 400;font-family: 'Roboto', sans-serif;  line-height: 1.2}
h6 {font-size: 24px;letter-spacing: 1px; font-weight: 400;font-family: 'Roboto', sans-serif;  line-height: 1.2}
p {font-size: 18px;font-weight: 400; margin: 0; padding: 0;letter-spacing: 1px;font-family: 'Roboto', sans-serif;  line-height: 1.2;}
span {line-height: 1.2}
a {font-size: 15px;font-weight: 400; margin: 0; padding: 0;letter-spacing: 1px;font-family: 'Roboto', sans-serif;  line-height: 1.2; color: white;}


/* Body */
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

/* Navbar */
.overlay {
    display: none;
}

.header__inside {
    margin: 25px 16.20% 0 16.61%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1280px;

    @include mq1620 {
        max-width: 990px;
    }
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 50px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: center;
}

.nav__item_1 {
    border-bottom: 4px solid #ff0076;
    width: 117px;
}

.nav__item_2 {
    border-bottom: 4px solid #ff9300;
    width: 123px;
}

.nav__item_3 {
    background-image: linear-gradient(90deg,#4003ca 50%,#33ffd9 50%);
    background-size: 100% 4px; 
    background-position: bottom; 
    background-repeat: no-repeat;
    width: 158px;
    padding-bottom: 9px;
}

.nav__item_4 {
    background-image: linear-gradient(to right,#FF8400 0,#FF0076 100%);
    background-size: 100% 4px; 
    background-position: bottom; 
    background-repeat: no-repeat;
    width: 123px;
    padding-bottom: 9px;
}

.nav__item_5 {
    background-image: linear-gradient(to right,#4003CA 0,#FF0076 100%);
    background-size: 100% 4px; 
    background-position: bottom; 
    background-repeat: no-repeat;
    width: 158px;
    padding-bottom: 9px;
}

@include mq1268 {
    .header__inside {
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        min-width: 329px;
        width: 55%;
        position: relative;
    }
    
    .nav__list {
        display: none;
    }
    
    .hamburger {
        display: inline-block;
        cursor: pointer;
    }
    
    .hamburger:after, .hamburger:before {
      content: none;
    }
    
    .hamburger__line1 {
        width: 68px;
        height: 10px;
        background-color: #FF0076;
    }
    
    .hamburger__line2 {
        width: 68px;
        height: 10px;
        background-color: #FF8400;
        margin-top: 8px;
    }
    
    .hamburger__line3 {
        width: 68px;
        height: 10px;
        background-image: linear-gradient(90deg,#4003ca 50%,#33ffd9 50%);
        margin-top: 8px;
    }
    
    .close-links {
        position: absolute;
        top: 2%;
        right: 3%;
        font-size: 50px;
        text-decoration: none;
        color: white;
        z-index: 100;
      }
    
    .overlay {
        display: block;
        position: fixed;
        height: 0;
        width: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        overflow-y: hidden;
        background-color: rgba(0, 0, 0, 0.96);
        transition: .5s;
    }
    
    .overlay-links {
        position: relative;
        top: 15%;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .overlay-links a {
        margin: 20px;
        font-size: 28px;
    }
    
    .nav__item_1, .nav__item_2, .nav__item_3, .nav__item_4, .nav__item_5 {
        width: 60%;
        text-align: center;
    }
}

/* Main */
main {
    position: relative;
}

/* Home */
.home {
    width: 1321px;
    margin: 48px 16.20% 0 15%;
    height: 437px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid $teal;

    @include mq1620 {
        width: 1021px;
    }

    @include mq1268 {
        margin-left: auto;
        margin-right: auto;
    }

    @include mq1171 {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    @include mq804 {
        flex-direction: column;
        min-width: 331px;
        width: 55%;
        min-height: 745px;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .linear-color {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(124deg, rgba(255,132,0,0.8) 0, rgba(51,255,217, 0.4) 25%, rgba(51,255,217,0.2) 50%, rgba(51,255,217,0.4) 70%,rgba(255,255,255,1) 100%);
        filter: blur(12px);
        z-index: -1;
        opacity: 0.3;
    }
}
.home__images, .home_wordsImg {
    width: 50%;
    
    @include mq804 {
        width: 100%;
    }
}

.home__images {
    height: 100%;

    @include mq804 {
        height: 45%;
    }

    .home__images__inside {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(12px);
        border-radius: 50px;

        @include mq804 {
            border-radius: 0 0 50px 50px;
        }
    }
    
    .rectPinkBig {
        position: absolute;
        z-index: -1;
        top: -40px;
        right: 100px;

        @include mq1620 {
            right: 10px;
        }
    
        @include mq1171 {
            width: 55%;
        }
    
        @include mq804 {
            top:initial;
            bottom: -20px;
            right: -40px;
            width: 100%;
        }
    }
}

.home_wordsImg {
    height: 100%;

    @include mq804 {
        height: 55%;
    }

    .circleTaleBig {
        position: absolute;
        z-index: -1;
        bottom: -50px;
        left: 320px;

        @include mq1620 {
            left: 200px;
        }
    
        @include mq1171 {
            width: 35%;
            left: 100px;
        }
    
        @include mq804 {
            bottom: initial;
            left: initial;
            top: -30px;
            right: -50px;
            width: 45%;
        }
    }

    .circlePinkBig {
        position: absolute;
        z-index: -2;
        bottom: -70px;
        left: 40px;

        @include mq1620 {
            left: -60px;
        }
    
        @include mq1171 {
            width: 50%;
            bottom: -20px;
        }
    
        @include mq804 {
            bottom: initial;
            left: initial;
            top: 40px;
            right: -10px;
            width: 60%;
        }
    }
}

.home__words {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Grid Purple */
    background-image: url("https://i.imgur.com/pNrVHst.png"), linear-gradient(to top,  rgba(0, 0, 0, 0) 30%, $purple 110%);
    border-radius: 50px 0 0 50px;
    backdrop-filter: blur(12px);

    @include mq804 {
        height: 100%;
        background-image: url("https://i.imgur.com/pNrVHst.png");
        border-radius: 50px 50px 0 0;
    }
}

.home__words>hgroup {
    margin-left: 70px;
    margin-right: 70px;
    height: 100%;
    display: flex;
    align-items: center;

    @include mq804 {
        height: 100%;
        margin: 40px 10px 0 10px;
    }
}

.home__words h3 {
    font-weight: 700;

    @include mq1171 {
        font-size: 30px;
    }

    @include mq804 {
        height: 100%;
        font-size: 45px;
    }
}

/* Levels */
.levels {
    width: 1321px;
    margin: 65px 16.20% 0 15%;

    @include mq1620 {
        width: 1021px;
    }

    @include mq1268 {
        margin-left: auto;
        margin-right: auto;
    }

    @include mq1171 {
        width: 700px;
    }

    @include mq804 {
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        min-width: 329px;
        width: 55%;
        position: relative;
    }
    
    .level {
        display: flex;

        @include mq1620 {
            flex-direction: column;
        }

        .level_text {
            min-width: 492px;
            max-width: 492px;

            @include mq804 {
                min-width: 100%;
            }

            h1 {
                font-size: 72px;
                font-weight: 900;

                @include mq804 {
                    font-size: 48px;
                }
            }

            hgroup{
                margin-top: 34px;

                h3{
                    color: $teal;
                    font-weight: 500;

                    @include mq804 {
                        font-size: 36px;
                    }
                }

                p{
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 12px;
                }
            }
        }

        .level-images {
            width: 880px;
            padding-left: 120px;
            position: relative;

            @include mq1620 {
                margin: 50px auto 0 auto;
            }

            @include mq1171 {
                padding-left: 0;
                width: 100%;
            }

            @include mq804 {
                display: none;
            }

            .level-box1 {
                width: 492px;
                height: 228px;
                background-color: rgba($color: #fff, $alpha: 0.3);
                border-radius: 40px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                backdrop-filter: blur(12px);

                @include mq1620 {
                    margin: 50px auto 0 auto;
                }

                @include mq1171 {
                    margin-left: 0;
                }
            }

            .level-box2 {
                position: relative;
                top: 30px;
                width: 492px;
                height: 228px;
                background-color: rgba($color: #fff, $alpha: 0.3);
                border-radius: 40px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                backdrop-filter: blur(12px);

                @include mq1620 {
                    margin: 50px auto 0 auto;
                }

                @include mq1171 {
                    margin-left: 0;
                }
            }

            .level-box3 {
                position: relative;
                top: 70px;
                width: 492px;
                height: 228px;
                background-color: rgba($color: #fff, $alpha: 0.3);
                border-radius: 40px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                backdrop-filter: blur(12px);

                @include mq1620 {
                    margin: 50px auto 0 auto;
                    top: 0;
                }

                @include mq1171 {
                    margin-left: 0;
                }
            }
            
            .level-box4 {
                position: relative;
                top: 70px;
                width: 276px;
                height: 228px;
                background-color: rgba($color: #fff, $alpha: 0.3);
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                backdrop-filter: blur(12px);

                @include mq1620 {
                    margin: 50px auto 0 auto;
                    top: 0;
                }

                @include mq1171 {
                    margin-left: 0;
                }
            }
        }
        
    }

    .level-1 {
        margin-top: 44px;

        .circlePinkSmall {
            position: absolute;
            z-index: -1;
            top: 100px;
            right: 190px;

            @include mq1620 {
                right: 120px;
                top: 150px;
            }

            @include mq1171 {
                right: 190px;
            }
        }

        .circleTealSmall {
            position: absolute;
            z-index: -2;
            top: -30px;
            right: 150px;

            @include mq1620 {
                right: 100px;
                top: 20px;
            }

            @include mq1171 {
                right: 170px;
            }
        }
    }

    .level-2 {
        margin-top: 53px;

        .circleOrangeSmall {
            position: absolute;
            z-index: -1;
            bottom: -70px;
            right: 170px;

            @include mq1620 {
                right: 110px;
            }

            @include mq1171 {
                right: 185px;
            }
        }

        .circlePurpleSmall {
            position: absolute;
            z-index: -2;
            top: 18px;
            right: 200px;

            @include mq1620 {
                top: 58px;
                right: 125px;
            }

            @include mq1171 {
                right: 200px;
            }
        }
    }

    .level-3 {
        margin-top: 73px;

        .rectTealSmall {
            position: absolute;
            z-index: -1;
            top: 40px;
            left: 370px;

            @include mq1620 {
                top: 20px;
                left: 500px;
            }

            @include mq1171 {
                left: 250px;
            }
        }

        .rectPinkSmall {
            position: absolute;
            z-index: -2;
            top: 40px;
            right: 194px;

            @include mq1620 {
                top: 20px;
                right: 114px;
            }

            @include mq1171 {
                right: 188px;
            }
        }
    }

    .level-4 {
        margin-top: 73px;

        .rectTealSmall2 {
            position: absolute;
            z-index: -1;
            top: 40px;
            left: 200px;

            @include mq1620 {
                top: 20px;
                left: 440px;
            }

            @include mq1171 {
                left: 70px;
            }
        }

        .rectPinkSmall2 {
            position: absolute;
            z-index: -2;
            top: 40px;
            left: 300px;

            @include mq1620 {
                top: 20px;
                left: 530px;
            }

            @include mq1171 {
                left: 170px;
            }
        }
    }
}

/* Choice */
.choice {
    width: 1321px;
    margin: 65px 16.20% 400px 15%;
    position: relative;
    top: 200px;

    @include mq1620 {
        width: 1021px;
    }

    @include mq1268 {
        margin-left: auto;
        margin-right: auto;
    }

    @include mq1171 {
        width: 700px;
    }

    @include mq804 {
        margin: 0 auto;
        justify-content: space-between;
        min-width: 329px;
        width: 55%;
        position: relative;
    }
    
    .choiceWithImg {
        position: relative;
        .path {
            display: flex;
            justify-content: space-around;
            position: relative;
            bottom: 140px;

            @include mq804 {
                flex-direction: column;
                position: static;
            }
    
            &_start {
                width: 581px;
                min-height: 467px;
                border-radius: 40px;
                background-color: rgba($color: #fff, $alpha: 0.3);
                position: relative;
                backdrop-filter: blur(12px);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                @include mq1620 {
                    width: 450px;
                }

                @include mq1171 {
                    width: 300px;
                }

                @include mq804 {
                    margin-top: 48px;
                    height: 384px;
                    width: 100%;

                    .levelUp {
                        width: 50%;
                    }
                }
    
                >hgroup {

                    @include mq1620 {
                        margin-left: 30px;
                        margin-right: 30px;
                    }
                    
                    h3 {
                        color: $teal;
                        font-weight: 500;
                    }
    
                    p {
                        margin-top: 12px;
                        font-weight: 400;
                    }
    
                    h1 {
                        font-size: 80px;
                        font-weight: 500;
                        margin-top: 22px;

                        @include mq1171 {
                            font-size: 54px;
                        }

                        @include mq804 {
                            font-size: 48px;
                        }
                    }
    
                    h6 {
                        font-weight: 500;
                    }
    
                    hgroup {
                        margin-top: 16px;
    
                        h6 {
                            margin-top: 12px;

                            @include mq1171 {
                                font-size: 18px;
                            }

                            @include mq804 {
                                font-size: 16px;
                            }
                        }
                    }
                }
    
                button {
                    width: 460px;
                    height: 65px;
                    font-family: $start;
                    font-size: 18px;
                    background-color: $pink;
                    color: #fff;
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translate(-50%);
                    outline: none;
                    border: none;
                    cursor: pointer;

                    @include mq1620 {
                        width: 400px;
                    }

                    @include mq1171 {
                        width: 250px;
                        font-size: 14px;

                        img {
                            width: 5%;
                        }
                    }

                    @include mq804 {
                        width: 100%;
                        min-width: 263px;
                        font-size: 11px;
                        position: static;
                        margin-top: 24px;                       
                        margin-left: 50%;
                        height: 39px;

                        img {
                            width: 4%;
                        }
                    }
                }    
            }
    
            &_end {
                width: 581px;
                min-height: 555px;
                border-radius: 40px;
                background: rgba($color: #fff, $alpha: 0.3);
                position: relative;
                backdrop-filter: blur(12px);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                @include mq1620 {
                    width: 450px;
                }

                @include mq1171 {
                    width: 300px;
                }

                @include mq804 {
                    margin-top: 194px;
                    height: 420px;
                    width: 100%;

                    .gameOver {
                        width: 60%;
                    }
                }
    
                >hgroup {
                    max-width: 442px;

                    @include mq1620 {
                        margin-left: 30px;
                        margin-right: 30px;
                    }

                    h3 {
                        color: $teal;
                        font-weight: 500;
                    }
    
                    p {
                        margin-top: 12px;
                        font-weight: 400;
                    }
    
                    h1 {
                        font-size: 80px;
                        font-weight: 500;
                        margin-top: 22px;

                        @include mq1171 {
                            font-size: 50px;
                        }

                        @include mq804 {
                            font-size: 48px;
                        }
                    }
    
                    h6 {
                        font-weight: 500;
                    }
    
                    hgroup {
                        margin-top: 16px;
    
                        h6 {
                            margin-top: 12px;

                            @include mq1171 {
                                font-size: 18px;
                            }

                            @include mq804 {
                                font-size: 16px;
                            }
                        }
                    }
    
                }
    
                button {
                    width: 460px;
                    height: 65px;
                    font-family: $start;
                    font-size: 18px;
                    background-color: $pink;
                    color: #fff;
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translate(-50%);
                    outline: none;
                    border: none;
                    cursor: pointer;

                    @include mq1620 {
                        width: 400px;
                    }

                    @include mq1171 {
                        width: 250px;
                        font-size: 14px;

                        img {
                            width: 5%;
                        }
                    }

                    @include mq804 {
                        width: 100%;
                        min-width: 263px;
                        font-size: 11px;
                        position: static;
                        margin-top: 24px;                       
                        margin-left: 50%;
                        height: 39px;

                        img {
                            width: 4%;
                        }
                    }
                }
            }
        }
        .circle-start {
            position: absolute;
            top: 80px;
            left: 100px;
            z-index: -1;

            @include mq1620 {
                width: 40%;
                top: 240px;
                left: 50px;
            }

            @include mq1171 {
                top: 300px;
                left: 35px;
            }

            @include mq804 {
                top: 400px;
                left: 30px;
                width: 80%;
            }
        }
    
        .circle-end {
            position: absolute;
            top: 80px;
            right: 100px;
            z-index: -1;

            @include mq1620 {
                width: 40%;
                top: 240px;
                right: 50px;
            }

            @include mq1171 {
                top: 300px;
                right: 35px;
            }

            @include mq804 {
                top: 1130px;
                left: 30px;
                width: 80%;
            }
        }
    } 
}

/* Evidence */
.evidence {
    margin: 280px 0 0 15%;
    position: relative;

    @include mq804 {
        margin: 380px auto 0;
        justify-content: space-between;
        min-width: 329px;
        width: 55%;
        position: relative;
    }

    &_line {
        border-top: 1px solid $orange;
        position: absolute;
        width: 80%;
        top: 25px;
        right: 0;

        @include mq1620 {
            width: 75%;
        }

        @include mq1366 {
            width: 70%;
        }

        @include mq1171 {
            width: 60%;
        }

        @include mq804 {
            display: none;
        }
    }

    &_inside {
        width: 1321px;
        margin-right: 16.20%;

        @include mq1620 {
            width: 1021px;
        }
    
        @include mq1268 {
            margin-left: auto;
            margin-right: auto;
        }
    
        @include mq1171 {
            width: 700px;
        }
    
        @include mq804 {
            margin: 380px auto 0;
            justify-content: space-between;
            min-width: 329px;
            width: 55%;
            position: relative;
        }

        h3 {
            color: $orange;
            margin-bottom: 56px;
            font-weight: 900;

            @include mq804 {
                text-align: center;
            }
        }

        .evidence_images {
            display: grid;
            grid-template-columns: 200px 200px;
            gap: 108px;

            @include mq804 {
                grid-template-columns: 200px;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    height: 338px;
    background-color: #4003CA;
    font-weight: 700;
    margin-top: 200px;

    @include mq1620 {
        margin-top: 100px;
    }

    @include mq804 {
        flex-direction: column;
        min-width: 329px;
        width: 100%;
        margin: 150px auto 0;
    }
}

.footer__left {
    background-color: #33FFD9;
    width: 45%;
    font-size: 16px;

    @include mq1171 {
        width: 50%;
    }

    @include mq804 {
        min-height: 306px;
        display: flex;
        justify-content: center;
        min-width: 329px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer__right {
    background-color: #4003CA;
    width: 55%;

    @include mq1171 {
        width: 50%;
    }

    @include mq804 {
        min-height: 306px;
        display: flex;
        justify-content: center;
        min-width: 329px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Footer TextLeft */
.footer__textLeft {
    margin: 65px 0 0 20%;
    width: 374px;

    @include mq1171 {
        margin-left: 5%;
    }
  
}

.footer__textLeft h6 {
    margin-bottom: 20px;
    color: #4003CA;
    font-weight: 700;
}

.footer__icons {
    display: flex;
    margin-bottom: 20px;
}

.footer__textLeft hgroup p {
    color: #4003CA;
}

.footer__textLeft hgroup p:first-child {
    font-weight: 700;
}

.footer__icons img {
    max-width: 30%;
}

.policy {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    min-width: 337px;

    @include mq804 {
        width: 90%;
    }
}

.policy a, .policy p {
    color: #2000B4;
    font-weight: 300;

    @include mq804 {
        font-size: 13px;
    }
}

/* Footer TextRight */
.footer__textRight {
    position: relative;
    margin: 65px 0 0 20%;
    width: 530px;
    height: 200px;

    @include mq1268 {
        width: 500px;
    }

    @include mq1171 {
        margin-left: 5%;
        width: 350px;
    }
}

.footer__textRight h6 {
    color: #33FFD9;
    width: 500px;
    font-weight: 900;

    @include mq1171 {
        width: 100%;
    }
}

.we-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}