/* Global*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 64px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h2 {
  font-size: 56px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h4 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h5 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h6 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

span {
  line-height: 1.2;
}

a {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: white;
}

/* Body */
body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 1px;
}

/* Navbar */
.overlay {
  display: none;
}

.header__inside {
  margin: 25px 16.20% 0 16.61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1280px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-left: 50px;
  display: inline-block;
  padding-bottom: 5px;
  text-align: center;
}

.nav__item_1 {
  border-bottom: 4px solid #ff0076;
  width: 117px;
}

.nav__item_2 {
  border-bottom: 4px solid #ff9300;
  width: 123px;
}

.nav__item_3 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #4003ca), color-stop(50%, #33ffd9));
  background-image: linear-gradient(90deg, #4003ca 50%, #33ffd9 50%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 158px;
  padding-bottom: 9px;
}

.nav__item_4 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF8400), to(#FF0076));
  background-image: linear-gradient(to right, #FF8400 0, #FF0076 100%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 123px;
  padding-bottom: 9px;
}

.nav__item_5 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #4003CA), to(#FF0076));
  background-image: linear-gradient(to right, #4003CA 0, #FF0076 100%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 158px;
  padding-bottom: 9px;
}

/* Main */
main {
  position: relative;
}

/* Home */
.home {
  width: 1321px;
  margin: 48px 16.20% 0 15%;
  height: 437px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1px solid #33FFD9;
}

.home .linear-color {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: linear-gradient(124deg, rgba(255, 132, 0, 0.8) 0, rgba(51, 255, 217, 0.4) 25%, rgba(51, 255, 217, 0.2) 50%, rgba(51, 255, 217, 0.4) 70%, white 100%);
  -webkit-filter: blur(12px);
          filter: blur(12px);
  z-index: -1;
  opacity: 0.3;
}

.home__images, .home_wordsImg {
  width: 50%;
}

.home__images {
  height: 100%;
}

.home__images .home__images__inside {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 50px;
}

.home__images .rectPinkBig {
  position: absolute;
  z-index: -1;
  top: -40px;
  right: 100px;
}

.home_wordsImg {
  height: 100%;
}

.home_wordsImg .circleTaleBig {
  position: absolute;
  z-index: -1;
  bottom: -50px;
  left: 320px;
}

.home_wordsImg .circlePinkBig {
  position: absolute;
  z-index: -2;
  bottom: -70px;
  left: 40px;
}

.home__words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  /* Grid Purple */
  background-image: url("https://i.imgur.com/pNrVHst.png"), -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(110%, #4003CA));
  background-image: url("https://i.imgur.com/pNrVHst.png"), linear-gradient(to top, rgba(0, 0, 0, 0) 30%, #4003CA 110%);
  border-radius: 50px 0 0 50px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.home__words > hgroup {
  margin-left: 70px;
  margin-right: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__words h3 {
  font-weight: 700;
}

/* Levels */
.levels {
  width: 1321px;
  margin: 65px 16.20% 0 15%;
}

.levels .level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.levels .level .level_text {
  min-width: 492px;
  max-width: 492px;
}

.levels .level .level_text h1 {
  font-size: 72px;
  font-weight: 900;
}

.levels .level .level_text hgroup {
  margin-top: 34px;
}

.levels .level .level_text hgroup h3 {
  color: #33FFD9;
  font-weight: 500;
}

.levels .level .level_text hgroup p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 12px;
}

.levels .level .level-images {
  width: 880px;
  padding-left: 120px;
  position: relative;
}

.levels .level .level-images .level-box1 {
  width: 492px;
  height: 228px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.levels .level .level-images .level-box2 {
  position: relative;
  top: 30px;
  width: 492px;
  height: 228px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.levels .level .level-images .level-box3 {
  position: relative;
  top: 70px;
  width: 492px;
  height: 228px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.levels .level .level-images .level-box4 {
  position: relative;
  top: 70px;
  width: 276px;
  height: 228px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.levels .level-1 {
  margin-top: 44px;
}

.levels .level-1 .circlePinkSmall {
  position: absolute;
  z-index: -1;
  top: 100px;
  right: 190px;
}

.levels .level-1 .circleTealSmall {
  position: absolute;
  z-index: -2;
  top: -30px;
  right: 150px;
}

.levels .level-2 {
  margin-top: 53px;
}

.levels .level-2 .circleOrangeSmall {
  position: absolute;
  z-index: -1;
  bottom: -70px;
  right: 170px;
}

.levels .level-2 .circlePurpleSmall {
  position: absolute;
  z-index: -2;
  top: 18px;
  right: 200px;
}

.levels .level-3 {
  margin-top: 73px;
}

.levels .level-3 .rectTealSmall {
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 370px;
}

.levels .level-3 .rectPinkSmall {
  position: absolute;
  z-index: -2;
  top: 40px;
  right: 194px;
}

.levels .level-4 {
  margin-top: 73px;
}

.levels .level-4 .rectTealSmall2 {
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 200px;
}

.levels .level-4 .rectPinkSmall2 {
  position: absolute;
  z-index: -2;
  top: 40px;
  left: 300px;
}

/* Choice */
.choice {
  width: 1321px;
  margin: 65px 16.20% 400px 15%;
  position: relative;
  top: 200px;
}

.choice .choiceWithImg {
  position: relative;
}

.choice .choiceWithImg .path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  bottom: 140px;
}

.choice .choiceWithImg .path_start {
  width: 581px;
  height: 481px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice .choiceWithImg .path_start > hgroup h3 {
  color: #33FFD9;
  font-weight: 500;
}

.choice .choiceWithImg .path_start > hgroup p {
  margin-top: 12px;
  font-weight: 400;
}

.choice .choiceWithImg .path_start > hgroup h1 {
  font-size: 80px;
  font-weight: 500;
  margin-top: 22px;
}

.choice .choiceWithImg .path_start > hgroup h6 {
  font-weight: 500;
}

.choice .choiceWithImg .path_start > hgroup hgroup {
  margin-top: 16px;
}

.choice .choiceWithImg .path_start > hgroup hgroup h6 {
  margin-top: 12px;
}

.choice .choiceWithImg .path_start button {
  width: 460px;
  height: 65px;
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  background-color: #F90173;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice .choiceWithImg .path_end {
  width: 581px;
  height: 481px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice .choiceWithImg .path_end > hgroup {
  max-width: 442px;
}

.choice .choiceWithImg .path_end > hgroup h3 {
  color: #33FFD9;
  font-weight: 500;
}

.choice .choiceWithImg .path_end > hgroup p {
  margin-top: 12px;
  font-weight: 400;
}

.choice .choiceWithImg .path_end > hgroup h1 {
  font-size: 80px;
  font-weight: 500;
  margin-top: 22px;
}

.choice .choiceWithImg .path_end > hgroup h6 {
  font-weight: 500;
}

.choice .choiceWithImg .path_end > hgroup hgroup {
  margin-top: 16px;
}

.choice .choiceWithImg .path_end > hgroup hgroup h6 {
  margin-top: 12px;
}

.choice .choiceWithImg .path_end button {
  width: 460px;
  height: 65px;
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  background-color: #F90173;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice .choiceWithImg .circle-start {
  position: absolute;
  top: 80px;
  left: 100px;
  z-index: -1;
}

.choice .choiceWithImg .circle-end {
  position: absolute;
  top: 80px;
  right: 100px;
  z-index: -1;
}

.choice .circle-benefits {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -20;
}

/* Evidence */
.evidence {
  margin: 280px 0 0 15%;
  position: relative;
}

.evidence_line {
  border-top: 1px solid #FF8400;
  position: absolute;
  width: 80%;
  top: 25px;
  right: 0;
}

.evidence_inside {
  width: 1321px;
  margin-right: 16.20%;
}

.evidence_inside h3 {
  color: #FF8400;
  margin-bottom: 56px;
}

.evidence_inside .evidence_images img {
  margin-right: 108px;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 246px;
  height: 338px;
  background-color: #4003CA;
  font-weight: 700;
}

.footer__left {
  background-color: #33FFD9;
  width: 830px;
  font-size: 16px;
}

.footer__right {
  background-color: #4003CA;
  width: 1090px;
}

/* Footer TextLeft */
.footer__textLeft {
  margin: 65px 0 0 292px;
  width: 374px;
}

.footer__textLeft h6 {
  margin-bottom: 20px;
  color: #4003CA;
  font-weight: 700;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__textLeft hgroup p {
  color: #4003CA;
}

.footer__textLeft hgroup p:first-child {
  font-weight: 700;
}

.footer__icons img {
  max-width: 30%;
}

.policy {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 337px;
}

.policy a, .policy p {
  color: #2000B4;
  font-weight: 300;
}

/* Footer TextRight */
.footer__textRight {
  position: relative;
  margin: 65px 0 0 288px;
  width: 530px;
  height: 200px;
}

.footer__textRight h6 {
  color: #33FFD9;
  width: 500px;
  font-weight: 900;
}

.we-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */